@import "tailwindcss";

@theme {
  --font-bricolage: var(--font-bricolage-grotesque);
  --color-primary: #0092ff;
}

.font-bricolage-grotesque {
  font-family: var(--font-bricolage-grotesque), sans-serif;
}